doctype html
html(lang='en')

    head
        title Options
        meta(charset='utf-8')
        link(rel='stylesheet', href='styles/options.min.css')
        link(rel='shortcut icon', href='images/favicon.ico')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(src='scripts/analytics.min.js')

    body

        header
            h1 Query
            menu: ul
                li: a(href='#') options
                li: a(href='#') about query

        .content#options
            input(type='text')
            button() save

        .content#about

        footer
            a.github(href='https://github.com/psephopaiktes/Query',title='View on GitHub',target='brank_')
                img(src='images/github.svg')
            a.back(title='back',href='main.html'): i.material-icons arrow_back
            p: small © Akira HIRATA 2017


        script(src='scripts/lib/jquery-3.1.1.slim.min.js')
        script(src='scripts/options.min.js')
